
{{template "template/head.html" .}}
<script src="/static/layui/layui.js?v=version_0.1"></script>
<style>
	.image-float-title{
		position: absolute; 
		top: calc(50% - 1rem); 
		left: 0;color: #fff;
		text-align: center;
		width: 100%;
		font-size: 2rem;
		font-weight: 700;
		background:#09beff;
      	-webkit-background-clip: text;
      	-webkit-text-fill-color:#fff;
      	-webkit-text-stroke:6px transparent;
	}
</style>
<div class="fly-panel">
	<div class="layui-tab-item layui-show">
		<div  style="position: relative;">
			<img style="width: 100%;" src="{{.HeaderData.BackgroundUrl}}">
			<!-- 暂时隐藏 文字可居中显示 -->
			<!-- <span class="image-float-title">欢迎来到EnianBlog</span> -->
		</div>
	</div>
	{{if .AnthologyTitleData}}
	<div class="fly-panel fly-column">
	  <div class="layui-container">
	    <ul class="layui-clear">
			{{range .AnthologyTitleData}}
			<li>
				<a href="{{.url}}" {{if .checked}}style="color:#5fb878"{{end}}>{{.title}}</a>
			</li> 
			{{end}}
	    </ul> 
	  </div>
	</div>
	{{end}}
</div>

<div class="layui-container" style="margin-top: 20px">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md8">
			{{template "template/list.html" .}}
		</div>
		
		<div class="layui-col-md4">
			{{template "template/right/user_card.html" .}}
			{{template "template/right/search_word.html" .}}
			{{template "template/right/label.html" .}}

		</div>
		<!-- 统计 -->
		{{ if .seo.TongJi}}{{str2html .seo.TongJi}}{{end}}
		{{template "template/foot.html" .}}