<style>
    h3 {
        padding: 20px;
        border-bottom: dashed #fff 1px;
    }

    .box {
        background-color: #00c9e4;
        min-width: 300px;
        max-width: 700px;
        margin: 20px auto;
    }

    .content {
        padding: 20px;
    }

    .btn_style {
        color: #fff;
        background-color: #2e2e2e;
        display: inline-block;
        padding: 10px 30px;
        cursor: pointer;
        border-radius: 5px;
    }

    a {
        color: #fff;
    }
</style>
<div class="box">
    {{if .Seo.SiteKeywords}}
    <div>
        <h3>Hi 红烧猎人，{{.Seo.SiteKeywords}}</h3>
    </div>
    {{end}}
    <div class="content">我们盼星星盼月亮终于等到你的来临，您当前正在注册<a href="">XXX官方博客</a>，你当前的验证码是：<p>825632</p><a class="btn_style"
            href="5">点击查看</a></div>
    <div style="padding: 20px;text-align: right;">-来自[<a href="">XXX官方博客</a>]</div>
</div>

