@font-face {
  font-family: "iconfont"; /* Project id 2914302 */
  src: url('iconfont.woff2?t=1637238735354') format('woff2'),
       url('iconfont.woff?t=1637238735354') format('woff'),
       url('iconfont.ttf?t=1637238735354') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eicon-edit:before {
  content: "\e600";
}

.eicon-location:before {
  content: "\ec32";
}

.eicon-info:before {
  content: "\e625";
}

.eicon-add-more:before {
  content: "\e623";
}

.eicon-logout:before {
  content: "\e89e";
}

