<div class="fly-panel">
	<div class="layui-tab-item layui-show">
		<div style="position: relative;">
			<img style="width: 100%;" src="{{.HeaderData.BackgroundUrl}}">
			<!-- 暂时隐藏 文字可居中显示 -->
			<!-- <span class="image-float-title">欢迎来到EnianBlog</span> -->
		</div>
	</div>
	{{if .AnthologyTitleData}}
	<div class="fly-panel fly-column">
		<div class="layui-container">
			<ul class="layui-clear">
				{{range .AnthologyTitleData}}
				<li>
					<a href="{{.url}}" {{if .checked}}style="color:#5fb878" {{end}}>{{.title}}</a>
				</li>
				{{end}}
			</ul>
		</div>
	</div>
	{{end}}
</div>

<div class="layui-container" style="margin-top: 20px">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md8">
			{{template "template/list.html" .}}
		</div>

		<div class="layui-col-md4">
			{{template "template/right/user_card.html" .}}
			{{template "template/right/search_word.html" .}}
			{{template "template/right/label.html" .}}
			{{template "template/right/friend_link.html" .}}

		</div>
	</div>
</div>

<!-- 统计 -->
{{ if .Seo.TongJi}}{{str2html .Seo.TongJi}}{{end}}