/* 默认主题 */


/* 项目密码查看 */
#page-content #btn-password-commit,
/* 项目列表选中 */
#page-content .obj-list-box .content-item .content-item-title-select ,
/* 列表右上角按钮 */
#page-content .obj-list-box #btn_header_right i
{
    color: #ffab2e;
}



/* 弹窗第一个按钮 */
.layui-layer .layui-layer-btn .layui-layer-btn0{
    color: #ffab2e;
    border-color: #ffab2e;
    background-color: #fff;
}

/* 登录页面 */

/* 登录/注册按钮 */
#btn_login,#btn_regster{
    background-color: #ffab2e;
}


/* 项目内容按钮（组） */

/* 标准样式 */
body .fc-toolbar-chunk .fc-button-primary,
.fc-toolbar-chunk .fc-button-group .fc-button-primary{
    border-color: #ffab2e;
    background-color: #ffab2e;
}

/* 禁用样式 */
body .fc-toolbar-chunk .fc-button-primary:disabled,
.fc-toolbar-chunk .fc-button-group .fc-button-primary:disabled{
    border-color: #ffc774;
    background-color: #ffc774;
    color: #462a00;
}

/* 选中样式 */
body .fc-toolbar-chunk .fc-button-primary:not(:disabled).fc-button-active, body .fc-toolbar-chunk .fc-button-primary:not(:disabled):active,
.fc-toolbar-chunk .fc-button-group .fc-button-primary:not(:disabled).fc-button-active, .fc-toolbar-chunk .fc-button-group .fc-button-primary:not(:disabled):active{
    border-color: #ce8d2b;
    background-color: #ce8d2b;
}

/* 鼠标悬停样式 */
body .fc-toolbar-chunk .fc-button-primary:hover,
.fc-toolbar-chunk .fc-button-group .fc-button-primary:hover{
    border-color: #ffc774;
    background-color: #ffc774;
}

/* 焦点样式 */
body .fc-toolbar-chunk .fc-button-primary:focus,
.fc-toolbar-chunk .fc-button-group .fc-button-primary:focus{
    box-shadow:none !important;
}

/* 视图默认事件颜色 */

/* 月视图 */
body .fc-h-event,body .fc-timegrid-event-harness .fc-h-event,
/* 周视图 */
body .fc-v-event,body .fc-timegrid-event-harness .fc-v-event{
    border-color: #ffab2e;
    background-color: #ffab2e;
}