<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>页面正在努力开发中...</title>
    <style>
        .wrapper { position : relative; margin : 0 auto; padding : 0; text-indent: 2em}
    </style>
</head>
<body>
    <div>
        <h1>此页面正在努力开发中... 请期待 : )</h1>
        <!-- <h2>开发进度可查看<a href="">点击查看进度</a></h2> -->
        <h2>作者：<a href="https://gitee.com/hslr" title="Gitee 个人首页">红烧猎人</a> 个人网站： <a href="http://enianteam.com/">点击跳转</a></h2>
        <br>
        <div style="background-color: pink;padding: 20px;display: inline-block;max-width: 1000px;">
            <h2 style="color: brown;">《邀请函》</h2>
            <h2>亲爱的朋友,您好：</h2>
            <br>
            <h2 class="wrapper">如果您想和我一起开发此项目为开源作出贡献，或者您对此项目有任何建议，贡献设计、方案。
            欢迎联系 微信/QQ:95302870（不要胆怯，但请注明来意，我们一起学习，期待你的加入！）</h2>
            <h2 class="wrapper">我也是利用空余时间来学习和开发的，本身善用jq和PHP开发（开源过几个项目）。也学习过vue和Go语言，用Go+vue开发了一个网盘程序（未完全开源）。
                <p>不多说了，了解更多去<a href="https://gitee.com/hslr">我的Gitee首页</a>。</p>
                </h2>
            <br>
            <h2>感谢使用和体验！</h2>
            <h2>- 红烧猎人</h2>
            <br>
        </div>
        
        
        <h3><a onclick="window.history.back()" style="cursor: pointer;color: blue;">< 点此返回上一页</a></h3>
    </div>
</body>
</html>