<script type="text/html" id="tpl-footer">
    <div class="fly-footer">
        <p><a href="/" target="_blank">{{d.site.title}}</a></p>
        <p>
            <a href="http://enianblog.enianteam.com/" target="_blank">Powered By EnianBlog</a>
        </p>
    </div>
</script>
<script type="text/javascript">
    app.defTpl('footer', function (tplArg) {
        app.base.ajaxGet("/api/front/getAuthPageInfo", function (data) {
            app.base.tplRender('#tpl-footer', data, null, function (html) {
                layui.$(tplArg.elem).html(html)
            })

        })
        
    })
</script>