<div class="layui-container" style="margin-top: 20px;">
  <div class="layui-row layui-col-space15">
    <h1 class="e-page-title">{{.SearchTitle}}</h1>
    <div class="layui-col-md8">
      {{template "template/list.html" .}}
    </div>

    <div class="layui-col-md4">
      <!-- {{template "template/right/user_card.html" .}} -->
      {{template "template/right/search_word.html" .}}
      {{template "template/right/label.html" .}}
      {{template "template/right/friend_link.html" .}}
      <!-- {{template "template/right/user_card.html" .}}
    			{{template "template/right/user_card.html" .}}
    			{{template "template/right/user_card.html" .}} -->

    </div>
  </div>
</div>

<!-- 统计 -->
{{ if .Seo.TongJi}}{{str2html .Seo.TongJi}}{{end}}