<style type="text/css">
    .editormd-html-preview {
        width: auto !important;
        padding: 0 !important;
    }

    .toc-list-item {
        margin-top: 5px !important;
    }

    /*解决layui屏蔽li标签默认样式临时方案*/
    .markdown-body ul li {
        list-style: disc !important;
    }

    .markdown-body ul li li {
        list-style: circle !important;
    }

    .markdown-body ul li li li {
        list-style: square !important;
    }

    .markdown-body ol li {
        list-style: decimal !important;
    }

    .markdown-body ol li li {
        list-style: lower-roman !important;
    }

    .markdown-body ol li li li {
        list-style: lower-alpha !important;
    }
</style>